@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .no-outline {
        @apply outline-none focus:outline-none;
    }

    .popup-menu {
        @apply max-h-[100vh] 2xl:w-[1174px] overflow-y-auto bg-white z-[100] lg:absolute shadow-[0px_4px_8px_0px_rgba(0,0,0,0.15)] rounded-2xl py-[18px];
    }

    .w-fit-important {
        width: fit-content !important;
    }

    .no-outline {
        @apply outline-none focus:outline-none;
    }
}

.popup-menu-link-sub.active {
    @apply bg-gray50 rounded-[0px_10px_10px_0px];;

    & svg {
        @apply fill-accentRed;
    }
}

.slider-pagination.white .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.30);
}


.slider-pagination.white .swiper-pagination-bullet-active {
    background: white;
}

.popup-menu-link-filter.active {
    @apply bg-gray50 border-gray50;
}

.filter-drop-shadow-mini {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
}

.js-slider-menu-brands-mobile .swiper-scrollbar,
.popup-menu .swiper-scrollbar {
    height: 2px !important;
    background-color: #e0e0e0;
}

.slider-brand-index {
    width: 220px !important;
    height: 220px !important;
}

.js-slider-menu-brands-mobile .swiper-scrollbar-drag,
.popup-menu .swiper-scrollbar-drag {
    height: 2px !important;
    background-color: #333;
    border-radius: 1px !important;
}

.js-slider-menu-brands-mobile .swiper-scrollbar-drag {
    background-color: #A41012;
}

.js-popup-wrapper {
    background: rgba(168, 168, 168, 0.3);
}

@media (max-width: 1792px) {
    .popup-menu {
        position: absolute;
        width: 1000px;
    }
}

@media (max-width: 1536px) {
    .popup-menu {
        width: 1000px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 1280px) {
    .popup-menu {
        width: 700px;
    }
}

@media (max-width: 1024px) {
    .popup-menu {
        width: 587px;
    }
}

@media (max-width: 768px) {
    .popup-menu {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: inherit;
        border-radius: 0;
        width: inherit;
    }

    .slider-menu-swiper-slide {
        width: 180px !important;
    }

    .popup-menu-link-sub.active {
       background: transparent;
    }
}
