.container(class="mb-[40px]")
    .grid.grid-cols-2(class="gap-[40px]")
        a(href="#").col-span-2
            img(src="/src/assets/images/pages/index/banner-middle.png" alt="")
        a(href="#").col-span-1
            img(src="/src/assets/images/pages/index/banner-middle-2.png" alt="")
        a(href="#").col-span-1
            img(src="/src/assets/images/pages/index/banner-middle-3.png" alt="")