include ../components/_mixin/button
include ../components/_mixin/title

section(class="mb-[40px] sm:mb-[60px]")
    .container
        +titleH2('Блог')
        .grid.grid-cols-4(class="gap-[16px] xl:gap-[32px] mb-[28px] sm:mb-[20px] xl:mb-[40px]")
            div(class="col-span-4 sm:col-span-2 rounded-[10px] overflow-hidden")
                a.relative(href="#")
                    p.absolute(class="leading-[normal] text-[14px] sm:text-[10px] xl:text-[20px] font-bold text-white left-[20px] bottom-[30px] xl:left-[43px] xl:bottom-[65px]") Alianta Group имеет  прочные связи с лучшими производителями
                    img.w-full(class="h-[160px] object-cover sm:h-auto" src="/src/assets/images/pages/index/blog-1.png" alt="")
            div(class="col-span-4 sm:col-span-1 rounded-[10px] overflow-hidden")
                a.relative(href="#")
                    p.absolute(class="leading-[normal] text-[14px] sm:text-[10px] xl:text-[20px] font-bold text-white left-[20px] right-[20px] bottom-[20px] xl:left-[43px] xl:right-[40px] xl:bottom-[40px]") Alianta Group имеет  прочные связи с лучшими производителями
                    img.w-full(class="h-[160px] object-cover sm:h-auto" src="/src/assets/images/pages/index/blog-2.png" alt="")
            div(class="col-span-4 sm:col-span-1 rounded-[10px] overflow-hidden")
                a.relative(href="#")
                    p.absolute(class="leading-[normal] text-[14px] sm:text-[10px] xl:text-[20px] font-bold text-white left-[20px] right-[20px] bottom-[20px] xl:left-[43px] xl:right-[40px] xl:bottom-[40px]") Alianta Group имеет  прочные связи с лучшими производителями
                    img.w-full(class="h-[160px] object-cover sm:h-auto" src="/src/assets/images/pages/index/blog-3.png" alt="")
        .flex.justify-center
            +buttonMore('Полный блог')