section(class="mb-[60px]")
    .container
        h2.text-center(class="text-[28px] font-bold tracking-[0px] mb-[40px]") Блог
        .grid.grid-cols-4(class="gap-[32px] mb-[40px]")
            .col-span-2
                a.relative(href="#")
                    p.absolute(class="leading-[normal] text-[20px] font-bold text-white left-[43px] bottom-[65px]") Alianta Group имеет  прочные связи с лучшими производителями
                    img(src="/src/assets/images/pages/index/blog-1.png" alt="")
            .col-span-1
                a.relative(href="#")
                    p.absolute(class="leading-[normal] text-[20px] font-bold text-white left-[43px] right-[40px] bottom-[40px]") Alianta Group имеет  прочные связи с лучшими производителями
                    img(src="/src/assets/images/pages/index/blog-2.png" alt="")
            .col-span-1
                a.relative(href="#")
                    p.absolute(class="leading-[normal] text-[20px] font-bold text-white left-[43px] right-[40px] bottom-[40px]") Alianta Group имеет  прочные связи с лучшими производителями
                    img(src="/src/assets/images/pages/index/blog-3.png" alt="")
        .flex.justify-center
            a(href="#" class="text-[#A41012] text-[16px] h-[40px] py-[12px] px-[67px] inline-flex justify-center items-center gap-[10px] flex-shrink-0 rounded-[10px] border-[1px] border-[#A41012]") Полный блог