include ../components/_mixin/button
include ../components/_mixin/title

section(class="mb-[30px] sm:mb-[20px] xl:mb-[60px]")
    .container
        +titleH2('Бренды')
        .relative(class="mb-[20px] xl:mb-[40px]")
            .js-brands__slider.swiper-container.overflow-hidden(class="-mr-[12px] sm:mr-0")
                +sliderButtonLeft('js-brands__nav-left')
                +sliderButtonright('js-brands__nav-right')
                .swiper-wrapper
                    each item in [1, 1, 1, 2, 2, 2, 1]
                        .swiper-slide(class="max-w-[180px] sm:max-w-full")
                            .flex(class="p-[20px] xl:p-[41px] justify-center items-center gap-[10px] rounded-[10px] border-[1px] bg-[#FFF]")
                                img(src=`/src/assets/images/pages/index/brand-${item}.png` alt="" class="object-contain")
        .flex.justify-center
            +buttonMore('Все бренды')