include ../components/_mixin/button
include ../components/_mixin/title

section(class="mb-[32px] sm:mb-[40px] xl:mb-[60px]")
    .container
        +titleH2('Подборки')
        .js-compilations__items.relative(class="mb-[22px] sm:mb-[20px] xl:mb-[40px] -mr-[12px] sm:mr-0")
            .js-compilations__slider.swiper-container.overflow-hidden
                .swiper-wrapper
                    each name, i in ['Топ рейтинга', 'Крепкие напитки', 'На девичник', 'Под фильм']
                        .swiper-slide(class="max-w-[200px] sm:max-w-full")
                            picture.block(class="mb-[16px] xl:mb-[40px]")
                                img(src=`/src/assets/images/pages/index/compilations-${i + 1}.png` alt="")
                            a(href="#" class="text-center text-[12px] xl:text-[16px]").block=name
        .flex.justify-center
            +buttonMore('Все подборки')