include ../components/_mixin/button
include ../components/_mixin/title

section(class="mb-[32px] sm:mb-[20px] xl:mb-[60px]")
    .container
        +titleH2('Мероприятия')
        .js-events__items.relative(class="gap-[32px] mb-[20px] xl:mb-[40px]")
            .js-events__slider.swiper-container.overflow-hidden(class="p-[5px] -m-[5px] sm:p-[10px] sm:-m-[10px]")
                +sliderButtonLeft('js-events__nav-left')
                +sliderButtonright('js-events__nav-right')
                .swiper-wrapper
                    each name, i in ['Топ рейтинга', 'Крепкие напитки', 'На девичник', 'Под фильм', 'Крепкие напитки', 'На девичник']
                        .swiper-slide
                            .flex-1(class="shadow-[0px_2px_2px_0px_rgba(0,0,0,0.20)] xl:shadow-[0px_4px_4px_0px_rgba(0,0,0,0.20)] rounded-[5px] xl:rounded-[10px]")
                                picture.block
                                    img.w-full.object-cover(src="/src/assets/images/pages/index/event.png" alt="")
                                .flex.flex-col(class="p-[20px] xl:p-[40px] text-center gap-[24px]")
                                    a(href="#" class="text-[14px] sm:text-[10px] xl:text-[20px] font-bold leading-[normal]") Alianta Group имеет  прочные связи с лучшими производителями
                                    p(class="leading-[normal] text-[14px] sm:text-[8px] xl:text-base")
                                        | Alianta Group - один из крупнейших импортеров алкогольной продукции
                                        | и инновационных продуктов в России.
                                    p(class="leading-[normal] text-[14px] sm:text-[8px] xl:text-base") 22.03.2022
        .flex.justify-center
            +buttonMore('Все мероприятия')