.container(class="mb-[30px] sm:mb-[20px] xl:mb-[40px]")
    .hidden(class="sm:grid grid-cols-4 grid-rows-[1fr_1fr_1fr_30px] xl:grid-rows-[1fr_1fr_1fr_60px] gap-[12px] xl:gap-[24px]")
        .js-sliders-hero-banners.swiper-container.overflow-hidden.relative.col-span-2.row-span-4(class="rounded-[10px]")
            .js-sliders-hero-banners__pagination.absolute.z-10.flex.justify-center.slider-pagination.white(class="mb-[11px] left-[50%] gap-[21px]")
            .swiper-wrapper
                each item in [1, 2, 3]
                    .swiper-slide
                        img.object-cover.w-full.h-full(src="/src/assets/images/pages/index/hero-banner.png")
        a.col-span-1.row-span-3(href="#" class="rounded-[10px] overflow-hidden")
            img.object-contain.h-full(src="/src/assets/images/pages/index/hero-banner-mini-1.png")
        a.col-span-1.row-span-3(href="#" class="rounded-[10px] overflow-hidden")
            img.object-cover.h-full(src="/src/assets/images/pages/index/hero-banner-mini-2.png")
        a.col-span-2.row-span-1.flex.items-center.justify-center.bg-gray100(href="#", class="rounded-[10px]")
            .inline-flex.items-center(class="gap-[20px]")
                span(class="text-[12px] xl:text-[16px]") Все акции
                svg.relative(class="w-[26px] h-[11px] top-[2px]")
                    use(href="#icon-arrow-right-mini")
    .block(class="sm:hidden -mr-[12px]")
        .js-slider-menu-brands-mobile.swiper-container.relative.overflow-hidden(class="pb-[15px] mb-[12px]")
            .swiper-wrapper
                each item in [1, 2, 3]
                    .swiper-slide.flex-shrink-0.w-fit-important(class="min-w-auto h-[164px] rounded-[10px] overflow-hidden")
                        a(href="#")
                            img(src=`/src/assets/images/pages/index/hero-banner-mobile.png`, alt='')
            .swiper-scrollbar(class="-ml-[5px] xl:-ml-[10px]")
    a.items-center.justify-center.bg-gray100(href="#", class="flex sm:hidden rounded-[10px] h-[32px] text-[14px]") Все акции
