include ../components/_mixin/product_cart
include ../components/_mixin/button

.container
    .js-products-tabs(class="mb-[30px] sm:mb-[40px] xl:mb-[60px]")
        .flex.items-center.justify-center(class="gap-[32px] sm:gap-[20px] xl:gap-[40px] mb-[20px] xl:mb-[40px]")
            each name, i in ['Новинки', 'Популярное', 'Скидки']
                button(
                    data-section=`${name}`
                    class="text-[14px] xl:text-[28px] tracking-[0px] opacity-80 leading-[normal]"
                    class=(i === 0) ? 'font-bold': '')=name
        .js-products-tabs__items.relative(class="mb-[10px] sm:mb-[20px] xl:mb-[40px]")
            .js-products-tabs__slider.swiper-container.overflow-hidden(class="px-[5px]")
                +sliderButtonLeft('js-products-tabs__nav-left', 'top-[calc(50%_-_12%)] sm:top-[50%]')
                +sliderButtonright('js-products-tabs__nav-right', 'top-[calc(50%_-_12%)] sm:top-[50%]')
                .swiper-wrapper
                    each item in productsIndex
                        .swiper-slide
                            +productCart(item.name, item.image)
                    each item in productsIndex
                        .swiper-slide
                            +productCart(item.name, item.image)
        .flex.justify-center
            +buttonMore('Все новинки')