section(class="mb-[32px] sm:mb-[40px] xl:mb-[60px]")
    .container
        .flex.flex-col.items-center(class="gap-[24px] sm:gap-[12px] xl:gap-[24px]")
            h2(class="text-[14px] sm:text-[12px] xl:text-[24px] font-light") Узнавайте первым о новинках и новостях
            .flex.items-center(class="rounded-[10px] sm:rounded-[5px] xl:rounded-[10px] border-[1px] border-[#C9C9C9] overflow-hidden px-[13px] xl:px-[26px] h-[42px] sm:h-[21px] xl:h-[42px]")
                input.no-outline(type="text" name="subscribe" placeholder="Ваш e-mail" class="w-[242px] sm:w-full text-[#929292] text-[16px] sm:text-[10px] xl:text-[16px]")
                button(type="submit")
                    svg(class="w-[3px] h-[12px]")
                        use(href="#icon-arrow-subscribe-button")
