footer.mt-auto.bg-primary(class="py-4 md:py-[20px] xl:py-[40px] 2xl:py-[60px]")
    .container
        .flex.justify-between(class="gap-5 md:gap-0 justify-start flex-col md:items-center md:flex-row")
            a.inline-block(href="#")
                svg(class="w-[100px] h-[38px] md:w-[50px] md:h-[19px] lg:w-[100px] lg:h-[36px]")
                    use(href="#icon-logo-footer")
            include _footer/subscribe
        .bg-gray900(class="h-[1px] my-[20px] md:my-[20px] xl:my-[40px]")
        include _footer/_footer_menu
        .bg-gray900(class="h-[1px] my-[20px] md:my-[20px] xl:my-[40px]")
        include _footer/_footer_info