extends ./layout/main

block content
    include index/hero_banner
    include index/popular_categories
    include index/products_tab
    include index/compilations
    include index/banner-middle
    include index/subscribe
    include index/brands
    include index/events
    include index/blog
