@font-face {
    font-family: 'fs_elliot_probold';
    src: url('fs_elliot_probold-webfont.woff2') format('woff2'),
    url('fs_elliot_probold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_probold_italic';
    src: url('fs_elliot_probolditalic-webfont.woff2') format('woff2'),
    url('fs_elliot_probolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_proheavy';
    src: url('fs_elliot_proheavy-webfont.woff2') format('woff2'),
    url('fs_elliot_proheavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_proheavy_italic';
    src: url('fs_elliot_proheavyitalic-webfont.woff2') format('woff2'),
    url('fs_elliot_proheavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_proitalic';
    src: url('fs_elliot_proitalic-webfont.woff2') format('woff2'),
    url('fs_elliot_proitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_prolight';
    src: url('fs_elliot_prolight-webfont.woff2') format('woff2'),
    url('fs_elliot_prolight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'fs_elliot_prolight_italic';
    src: url('fs_elliot_prolightitalic-webfont.woff2') format('woff2'),
    url('fs_elliot_prolightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_proregular';
    src: url('fs_elliot_proregular-webfont.woff2') format('woff2'),
    url('fs_elliot_proregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_prothin';
    src: url('fs_elliot_prothin-webfont.woff2') format('woff2'),
    url('fs_elliot_prothin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fs_elliot_prothin_italic';
    src: url('fs_elliot_prothinitalic-webfont.woff2') format('woff2'),
    url('fs_elliot_prothinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}