.flex.flex-col.items-center.text-gray900.text-center(class="text-[14px] md:text-[11px] 2xl:text-sm gap-2 2xl:gap-4 mb-5 2xl:mb-10")
    p
        | Продажа спиртных напитков несовершеннолетним лицам запрещена.
    p
        | Мы&nbsp;строго соблюдаем Правила продажи товаров дистанционным способом, утверждённым Постановлением Правительства РФ
        | от&nbsp;27.09.2007 &#8470;&nbsp;612. Наш сайт является информационной витриной, ознакамливающей с&nbsp;ассортиментом винотек
        | Wine Express. В&nbsp;соответствии с&nbsp;рекомендациями ФС&nbsp;РАР уведомляем: алкогольная продукция может быть приобретена
        | непосредственно в&nbsp;магазинах WineExpress.
    p
        | ООО &laquo;Вино онлайн АГ&raquo;, ИНН:5024064362, лицензия &#8470;&nbsp;77РПА0013701 от&nbsp;26&nbsp;января 2018г.&nbsp;101000, г. Москва,
        | Чистопрудный Бульвар, 12&nbsp;к4, пн-пт: 9:00&ndash;19:00, сб-вс: выходной. Все информационные материалы и&nbsp;цены,
        | размещённые на&nbsp;сайте, не&nbsp;является публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
        | По&nbsp;всем вопросам приобретения продукции в&nbsp;наших винотеках можно обратиться к&nbsp;личному консультанту-сомелье по
        | телефону: +7&nbsp;495 651-90-80&nbsp;доб.&nbsp;305
p.text-gray800.text-center(class="text-[14px] md:text-[12px] 2xl:text-base")
    | ©1993–2020 Wine Express by Alianta Group