include ../_mixin/button

mixin productCart(name, img)
    .product-cart(class="pb-[10px]")
        .relative(class="sm:p-[15px] 2xl:p-[30px] sm:border shadow-none sm:shadow-[0px_2px_2px_0px_rgba(0,0,0,0.20)] xl:shadow-[0px_4px_4px_0px_rgba(0,0,0,0.20)] rounded-[5px] xl:rounded-[10px] border-solid border-gray100")
            .absolute.flex.flex-col.items-start(class="sm:top-[15px] sm:left-[15px] 2xl:top-[30px] 2xl:left-[30px] gap-[4px] xl:gap-[12px]")
                p(class="text-[10px] sm:text-[7px] xl:text-[14px] font-light") Артикул: 21240
                .flex.items-center(class="gap-[4px] rounded-[2px] bg-[#D9D9D9] h-[18px] sm:h-[13px] xl:h-[26px] px-[3px] xl:px-[8px]")
                    svg(class="w-[10px] h-[10px] sm:w-[7px] sm:h-[7px] xl:w-[15px] xl:h-[14px]")
                        use(href="#icon-star")
                    p(class="text-[10px] sm:text-[7px] xl:text-base leading-[9px] xl:leading-[normal]") 4.7
                .flex.items-center(class="gap-[4px] rounded-[2px] bg-[#B85F69] h-[18px] sm:h-[13px] xl:h-[26px] px-[3px] xl:px-[8px]")
                    p(class="leading-[9px] xl:leading-[18px] text-[#FFF] text-[10px] sm:text-[7px] xl:text-[14px]") Vivino
                    p(class="leading-[9px] xl:leading-[18px] text-[#FFF] text-[10px] sm:text-[7px] xl:text-[14px]") 4.7
                p(class="rounded-[2px] bg-[#FFF3E7] leading-[14px] sm:leading-[9px] xl:leading-[18px] text-[#535353] text-[10px] sm:text-[7px] xl:text-[10px] px-[5px] xl:px-[11px]") хит
                p(class="rounded-[2px] bg-[#D4DFF4] leading-[14px] sm:leading-[9px] xl:leading-[18px] text-[#535353] text-[10px] sm:text-[7px] xl:text-[10px] px-[5px] xl:px-[11px]") new
            .flex.items-center.justify-center(class="mb-[13px]")
                img(src=`${img}` class="h-[168px] sm:h-[136px] xl:h-[273px]")
            a(href="#" class="text-center block overflow-ellipsis text-[14px] sm:text-[10px] xl:text-[16px] font-bold mb-[10px] xl:mb-[20px] leading-[14px] sm:leading-[normal]")=name
            .flex.items-center.justify-center(class="gap-[2px] sm:gap-[4px] xl:gap-[8px] mb-[5px] xl:mb-[25px] flex-wrap")
                p(class="text-[10px] sm:text-[8px] xl:text-[14px] font-light") Франция
                p(class="text-[10px] sm:text-[8px] xl:text-[14px] font-light") Красное
                p(class="text-[10px] sm:text-[8px] xl:text-[14px] font-light") Сухое
                p(class="text-[10px] sm:text-[8px] xl:text-[14px] font-light") 2014 год
                .inline-flex.items-center.justify-center(class="px-[12px] h-[18px] rounded-[2px] bg-[#EDF8DC] text-[#535353] text-[10px]") bio
            .flex.items-center.justify-center(class="gap-[8px] mb-[5px]")
                p(class="text-[10px] xl:text-base") 1 000 000 ₽
                .inline-flex.items-center.justify-center(class="px-[8px] h-[18px] rounded-[2px] bg-[#A41012] font-bold text-white text-[10px]") -40%
            p(class="text-[#B12333] text-[18px] sm:text-[12px] xl:text-[20px] font-bold text-center mb-[12px] sm:mb-[10px] xl:mb-[24px]") 5 000 000 ₽
            .flex.justify-center
               +buttonCart('В корзину')